.Listing-detail-intro {
    display: flex;
    flex-flow: row wrap;
    width: 100;
    grid-area: 2 / 1 / 3 / end;
    justify-content: space-between;
}

.Listing-detail-intro__h2 {
    margin: 1.3rem 0;
    width: 100%;
    font-weight: 500;
}

.Listing-detail-intro__subtitle {
    font-size: 0.7rem;
    text-decoration: underline;
}

.Listing-detail-intro__subtitle-review {
    font-weight: bold;
    text-decoration: none;
}

.Listing-detail-intro__star {
    font-size: 0.7rem;
    color: #FF385C;
    text-decoration: none;
}

.Listing-detail-intro__options-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 0.3rem;
    margin: 1rem 0 3rem 0;
}