* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}


/* main grid */

.Grid-wrapper {
    display: grid;
    grid-template: 1fr 16fr / repeat(8, 1fr);
}


/* utility classes */

._font-weight-bold {
    font-weight: bold;
}

._font-size-large {
    font-size: large;
}

._btn--round-white {
    border-radius: 15px;
    padding: 0.4rem 0.6rem;
    background-color: white;
    color: grey;
    border: 1.5px solid grey;
}